.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F4F4;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 50px;
}

.banner-img {
    width: 300px;
}

@media screen and (min-width: 768px) {
    .banner-img {
        width: 708px;
    }
}

@media screen and (min-width: 1440px) {
    .banner-img{
        width: 970px;
    }
}