.gallery-hero {
  list-style: none;
  font-size: 0;
  margin-left: auto;
  margin-right: auto;

  & .content img {
    width: 1272px;
    height: 466px;
    object-fit: cover;
  }
  
  .gallery__item {
    display: inline-block;
    vertical-align: middle;

    margin-right: 34px;

    &:last-child{
      margin-right: 0px;
    }

  }
  
  input[name="select"] {
    display: none;
  }
  
  .item-hugger {
    position: relative;
    height: 60px;
    margin: 20px 0;
    transition: all 150ms ease-in-out;
    text-align: center;
  }
  
  label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
  }
  
  .item-hugger__title {
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 14px;
    color: white;
    transition: all 150ms linear;
    margin: 5px;
    width: 250px;
    // display: flex;
    // align-items: center;
    // text-align: center;
  }
  
  .content {
    position: absolute;
    top: 100px;
    left: 0;
    opacity: 0;

    .content__info{
      position: absolute;
      top: 0;
      left: 0;

      width: 612px;
    }
    
    .gallery-title {
      display: inline-block;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 40px;
      color: #FFFFFF;
      margin-top: 69px;
      margin-bottom: 30px;
      margin-left: 15px;
    }

    .gallery-subtitle {
      display: inline-block;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
      margin-left: 15px;
    }
  }

  input[name="select"]:checked + .item-hugger {
    height: 60px;
    margin: 0;

    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 170px;
      height: 58px;
      background: rgba(0, 0, 0, 0.5);
      border-bottom: solid 2px var(--accent-color);
    }
  }

  input[name="select"]:checked ~ .content {
    opacity: 1;
  }
}

.white-box {
  height: 500px;
  background: rgb(0, 0, 0);
}

.relative.content__image img {
  width: 1272px;
  height: 466px;
  object-fit: cover;
}

.content__image {
  height: 466px;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .gallery-hero .content {
    position: absolute;
    top: 360px;
    left: 0;
    opacity: 0;
    & img{
      width: 300px;
      height: 500px;
      object-fit: cover;
      object-position: 80%;
    }
  }

  .gallery-hero .content .content__info {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
  }

  .gallery-hero .content .gallery-title {
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 200px;
    margin-bottom: 50px;
    margin-left: 10px;
    text-shadow: var(--primary-text-color) 5px 0 10px;
  }

  .gallery-hero .content .gallery-subtitle {
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    margin-left: 10px;
    
    text-shadow: var(--primary-text-color) 5px 0 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1439px) {
  .thumb-image {
    width: 302px;
    height: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .gallery__item:nth-child(2n + 1) {
    margin-left: 35px;
  }

 .gallery-hero .content {
   position: absolute;
   top: 200px;
   left: 0;
   opacity: 0;

   & img {
     width: 710px;
     height: 466px;
     object-fit: cover;
     object-position: 80%;
   }
 }

 .gallery-hero .content .content__info {
   position: absolute;
   top: 0;
   left: 0;
   width: 280px;
 }

 .gallery-hero .content .gallery-title {
   font-size: 25px;
   line-height: 25px;
   color: #FFFFFF;
   margin-top: 100px;
   margin-bottom: 50px;
   margin-left: 10px;
   text-shadow: var(--primary-text-color) 5px 0 10px;
 }

 .gallery-hero .content .gallery-subtitle {
   font-size: 20px;
   line-height: 20px;
   color: #FFFFFF;
   margin-left: 10px;
   text-shadow: var(--primary-text-color) 5px 0 10px;
 }
}

@media screen and (min-width: 768px) {
  .white-box {
    height: 466px;
  }
}

@media screen and (min-width: 1440px) {
  .white-box {
    height: 465px;
  }

  .thumb-image {
    height: 60px;
  }
}